.venv

data/raw/zips
data/raw/dividends
data/raw/*.csv
data/raw/*.csv#
data/raw/*.json
data/processed/*.csv
data/processed/*.csv#

data/etl/driver/*
!data/etl/driver/README.md

data/service-account.json
data/set_env.py

*.pkl
__pycache__